nav{
    background-color: #56a8a8;
    color: #000;
    padding: 30px 60px;
    display: flex;
    font-size: 22px;
    justify-content: space-between;
    font-family: 'Courier New', Courier, monospace;
}

h4{
    font-size: 35px;
    font-weight: 800;
    margin-top: 4px;
}
nav ul{
    margin-top: 4px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav li{
    list-style: none;
}

nav li a{
    color: #000;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 8px;
}

nav li a:hover{
    color:#fff;
    text-decoration: none;
}

.jumbotron{
    height: 150px; 
    position: absolute; top: 50%; left: 50%;transform: translate(-50%, -50%); 
    background-color: #56a8a8;
}

.lead{
    font-family:'Courier New', Courier, monospace;
    font-size: 25px; 
    text-align: center;
    color: #000;
    font-weight:800;

}

.card{
    background-color: #a9bdbd;
    width: 650px;
    position: absolute; top: 50%; left: 50%;transform: translate(-50%, -50%);
}


input{
    display: block;
    overflow-wrap: break-word;
    box-sizing: border-box;
}