body{
    background-color: #56a8a8;
}

img{
    height: 550px;
    border-radius: 12px;
    margin-top: 70px;
    margin-right: 30px;
    margin-bottom: 50px;
    margin-left: 70px;
    float: left;
}

.information{
    background-color: rgb(240, 239, 239);
    width: 900px;
    height: 550px;
    border-radius: 12px;
    margin-top: 70px;
    margin-left: 520px;
}

